Source: httm
Priority: optional
Section: utility
Architecture: any
Multi-Arch: same
Build-Depends: debhelper (>= 11),
 dh-cargo (>= 15),
 cargo:native <!nocheck>,
 rustc:native <!nocheck>,
 libstd-rust-dev <!nocheck>
Maintainer: kimono koans <https://github.com/kimono-koans/>
Uploaders: kimono koans <https://github.com/kimono-koans/>
Depends: libc6
Homepage: https://github.com/kimono-koans/httm/blob/master/README.md
Vcs-Browser: https://github.com/kimono-koans/httm
Vcs-Git: https://github.com/kimono-koans/httm
APT-Manual-Installed: yes
APT-Sources: https://raw.githubusercontent.com/kimono-koans/ppa/main ./ Packages
Description: A CLI tool for viewing snapshot file versions on ZFS and btrfs datasets
 Prints the size, date and corresponding locations of available unique versions
 of files residing on snapshots.  May also be used interactively to select and
 restore from such versions, and even to snapshot datasets which contain certain
 files.